<h1>Send a SMS</h1>
<p>Enter a message and a phone number to send a text!</p>

<%= form_tag("/sms/send", method: "post") do %>
<!-- add form elements here -->
    <%= label_tag(:p, "Phone Number:") %>
    <%= telephone_field(:user, :p) %>
    <%= label_tag(:m, "Messsage:") %>
    <%= text_field_tag(:m) %>
    <%= submit_tag("Send") %>
<% end %>
